<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3beb2a93-a681-48a5-a8dc-5a115de0848d/resourceGroups/NextMasjid2.0_RG/providers/Microsoft.Web/sites/NextMasjidBackend</ResourceId>
    <ResourceGroup>NextMasjid2.0_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://nextmasjidbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nextmasjidbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NextMasjidBackend</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NextMasjidBackend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>